body { font-family: helvetica, arial, sans-serif; font-size: 62.5%; color: #000; line-height: 1.35em; }

h4 { color: #B2B2B2; }

p,
a { color: #666; }

p a,
p span { font-size: 1.0em; color: #666; }

h1, 
h2, 
h3 { font-size: 1.2em; line-height: 1.6em; }

h1 a { color: inherit; text-decoration: none; font-weight: bold; }

h3,
h3 a { font-weight: normal; color: inherit; margin: 4px 0px; }

h4,
p, 
label,
input { font-size: 1.2em; line-height: 1.6em; font-weight: normal; padding: 0; }

hr { display: block; clear: both; visibility: hidden; float: none; height: 0px; margin: 0px; padding: 0px; border: 0px; *margin: -15px 0px 0px; }

div#container { position: relative; margin: 0 40px; }

div#search-projects-container { display: none; }
div#search-projects-container label { display: block; }
div#search-projects-container label span { display: none; }

div#header-information { position: absolute; left: 300px; }
div#header-information h1 { margin: 32px 0px 0px; font-size: 3.2em; padding: 0px; }
div#header-information p { margin: 0px 0px 0px; }

div.projects,
div#project-information { width: 200px; }

div.project img, 
div.project h4,
div.project p,

p.duplicate-year,
p.month { display: none; }
p.year { margin: 10px 0px 0px; }

div#project-images { position: absolute; left: 300px; top: 140px; }

div#copyright { display: none; }